.navigation{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0rem 1rem;
    background-color: black;
    height: 10vh;
    z-index: 1;
  }
  
  .nav-link{
    font-size:larger;
    position: relative;
    color: rgb(245, 241, 241);
    text-decoration: none;
    padding: 0rem 0.5rem;
    border: none;
    background-color: black;
  }
  
  .nav-Header{
    font-size:23px;
    padding: 0;
  }

  .cart-wishlist-quantity{
    position: absolute;
    right: 0;
    bottom: 8px;
    font-size: small;
    background-color: red;
    padding: 0px 2px;
    border-radius: 50%;
    border: 0.1px solid white;
  }

  .fa-spa{
    color: rgb(245, 241, 241);
    font-size: xx-large;
  }
  
  .fa-heart{
    color: red;
    cursor: pointer;
  }
  
  .fa-sign-out-alt{
    font-size: 23px;
  }