@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.products-page{
  display: grid;
}

.side-bar{
  display: block;
  padding-top: 5rem;
  width: 280px;
  position: fixed;
  border-right: 1px solid rgb(224, 222, 222);
  box-shadow: 2px 50px 20px #cecbcb;
  height: 100vh;
}

.input-search{
  position:relative;
  border: 1px solid rgb(167, 166, 166);
  width: 80%;
  height: 6vh;
  margin: 1rem 0rem;
  border-radius: 0.4rem;
  padding-left: 1.8rem;
}

.fa-search{
  position: absolute;
  left: 38px;
  top: 108px;
  color: rgb(95, 93, 93);
}

.product-cards{
  margin-top: 5rem;
  margin-left: 18rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  align-items: center;
}

.products{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 5px 10px #cecbcb;
  border-radius: 0 0 0.5rem 0.5rem;
  margin: 1rem;
  max-width: 250px;
  height: 330px;
}

.product-btn{
  margin-right: 1rem;
  margin-top: 1rem;
  padding: 0.3rem 0.2rem; 
  text-align: center;
  border-radius: 0.3rem;
}

.wishlist-btn{
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
}

.filters{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 14vh;
  border: 1px solid rgb(167, 166, 166);
  box-shadow: 5px 5px 10px #b3b0b0;
  margin: 1rem 1rem 2rem 1rem;
  text-align: start;
  padding-left: 1rem;
}

.filters input{
  margin-right: 0.2rem;
} 

.cart-main{
  margin-top: 5rem;
}


.cart{
  display: flex;
  justify-content: space-evenly;
}

.cart h2{
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-cart{
  display: flex;
  box-shadow: 5px 5px 10px #b3b0b0;
  border-radius: 0 0 0.5rem 0.5rem;
  width: 550px;
  height: 200px;
  margin: 1.5rem;
}

.img-cart{
  height: 200px;
  width: 250px;
  border-radius: 0 0 0rem 0.5rem;
}

.cart-product-details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  text-align: start;
}

.cart-product-details h3{
  font-size: 25px;
}

.cart-quantiy-btn{
  display: inline;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 18px;
  background-color: #AF0F0F;
  color: white;
  border: none;
  margin: 0rem 0.2rem;
}

.cart-quantity{
  text-align: start;
  padding-top: 0.5rem;

}

.cart-remove{
  text-align: start ;
}

.cart-btn-remove{
  background-color: #AF0F0F;
  color: white;
  height: 4vh;
  width: 65px;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;

}

.page-404{
  overflow: hidden;
}

.img-404{
  width: 100%;
  min-height: 100%;
}

.cart-wishlist-quantity{
  position: absolute;
  right: 1rem;
}

.wishlist-buttons{
  display: flex;
  justify-content: space-evenly;
}

.btn-wishlist-move{
  width: 85px;
  height: 4vh;
  border: none;
  color: white;
  border-radius: 0.2rem;
  background-color: #AF0F0F;
  cursor: pointer;
}

.btn-wishlist-remove{
  width: 60px;
  height: 4vh;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: #AF0F0F;
  color: white;
  border: none;
}

.btn-disabled-wishlist{
  width: 85px;
  height: 4vh;
  border: 1px solid rgb(175, 172, 172);
  border-radius: 0.2rem;
}

.checkout{
  height: 28vh;
  margin-top: 1.5rem;
  width: 300px;
  box-shadow: 5px 5px 10px #b3b0b0;
 
}

.checkout-header{
  border-bottom: 1px solid rgb(216, 213, 213);
  text-align: start;
  margin: 1rem 0rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}

.checkout-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #AF0F0F;
  color: #f0d8d8;
  height: 5vh;
  border: 1px solid #AF0F0F;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  width: 90px;
  cursor: pointer;
  margin: auto;
}

.checkout-price{
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.checkout-total{
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(216, 213, 213);
}

@media only screen and (max-width: 500px){
  .products-page{
    display: block;
  }
  .side-bar{
    display: block;
    padding-top: 4rem;
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgb(224, 222, 222);
    box-shadow: 0px 0px 0px #cecbcb;
    height: 35vh;
  }

  .input-search{
    width: 80%;
    height: 4vh;
    border-radius: 0.2rem;
  }
  
  .fa-search{
    left: 45px;
    top: 88px;
  }

  .filters-main{
    display: flex;
  }

  .product-cards{
    margin-top: 0.5rem;
    margin-left: 0.2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1px;
    align-items: center;
  }

  .products{
    margin: 0.8rem;
    height: 275px;
  }

  .products h3{
    font-size: 16px;
  }

  .cart-main{
    margin-top: 5rem;
    font-size: 14px;
  }

  .cart{
    display: block;
  }

  .img-cart{
    height: 130px;
    width: 150px;
    border-radius: 0 0 0rem 0.5rem;
  }

  .products-cart{
    width: 325px;
    height: 130px;
    margin: 1rem;
  }

  .products-cart h3{
    font-size: 16px;
  }

  .products-cart strong{
    font-size: 14px;
  }

  .products-cart p{
    font-size: 14px;
  }

  .cart-quantity{
    text-align: start;
    padding-top: 0.3rem;
  }

  .cart-quantiy-btn{
    display: inline;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 16px;
  }

  .cart-btn-remove{
    width: 55px;
    height: 2.5vh;
    font-size: 12px;
  }

  .cart-remove{
    text-align: start ;
    padding-top: 0.3rem;
  }

  .checkout{
    height: 17vh;
    margin: 1rem;
    width: 325px;
    padding-top: 1px;
  }

  .checkout-price{
    margin: 0.5rem;
    font-size: 14px;
  }
  
  .checkout-total{
    margin: 0.5rem;
    font-size: 14px;
  }

  .checkout-btn{
    height: 3.5vh;
    width: 72px;
  }

  .checkout-header{
    margin: 0.5rem 0rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 14px;
  }

  .btn-wishlist-move{
    width: 85px;
    margin-top: 0.3rem;
    height: 3vh;
    border: none;
    color: white;
    border-radius: 0.2rem;
    background-color: #AF0F0F;
    cursor: pointer;
  }

  .btn-wishlist-remove{
    width: 60px;
    height: 3vh;
    border-radius: 0.2rem;
    cursor: pointer;
    background-color: #AF0F0F;
    color: white;
    border: none;
  }
  
  .btn-disabled-wishlist{
    width: 85px;
    margin-top: 0.3rem;
    height: 3vh;
    border: 1px solid rgb(175, 172, 172);
    border-radius: 0.2rem;
  }

} 




