@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.navigation{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  padding-left: 25rem;
  background-color: black;
  height: 8vh;
}

.nav-link{
  color: rgb(228, 226, 226);
  text-decoration: none;
}

.input-search{
  position:relative;
  border: 1px solid black;
  width: 30%;
  height: 6vh;
  margin: 1rem 0rem;
  border-radius: 0.4rem;
  padding-left: 1.8rem;
}

.fa-search{
  position: absolute;
  left: 480px;
  top: 80px;
  color: rgb(124, 122, 122);
}

.products{
  text-align: center;
  border: 1px solid black;
  border-radius: 0 0 0.5rem 0.5rem;
  margin: 1rem;
  max-width: 250px;
  padding: 0 0 1rem;
}

.product-btn{
  margin-right: 1rem;
  margin-top: 1rem;
  padding: 0.3rem 0.2rem; 
  text-align: center;
  border-radius: 0.3rem;
}

.filters{
  height: 8vh;
  padding: 0.2rem 1rem;
  margin: 0rem 1rem;
}

.filters label{
  padding: 0rem 0.5rem;
}

.filters input{
  margin-right: 0.2rem;
}

.products-cart{
  display: flex;
  border: 1px solid black;
  border-radius: 0 0 0.5rem 0.5rem;
  width: 800px;
  height: 252px;
  margin: 1rem;
}

.img-cart{
  height: 250px;
  width: 300px;
  border-radius: 0 0 0rem 0.5rem;
}

.cart-product-details{
  padding: 0.5rem;
}

.cart-product-details h3{
  font-size: 25px;
}

.cart-product-details p{
 text-align: start;
 padding: 0.5rem 0rem;
}

.cart-quantiy-btn{
  display: inline;
  width: 20px;
  
}

.cart-quantity{
  text-align: start;
  padding-top: 0.5rem;
}

.cart-remove{
  text-align: start ;
  padding-top: 1rem;
}

.cart-btn-remove{
  padding: 0.3rem 0.2rem; 
  text-align: center;
  border-radius: 0.3rem;
}

.cart{
  text-align: center;
}

.cart h2{
  padding:1rem 0rem;
}

.page-404{
  overflow: hidden;
}

.img-404{
  width: 100%;
  min-height: 100%;
}



