@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.products-page{
  display: grid;
}

.side-bar{
  padding-top: 5rem;
  width: 280px;
  position: fixed;
  border-right: 1px solid rgb(224, 222, 222);
  box-shadow: 2px 50px 20px #cecbcb;
  height: 100vh;
}

.input-search{
  position:relative;
  border: 1px solid rgb(167, 166, 166);
  width: 80%;
  height: 6vh;
  margin: 1rem 0rem;
  border-radius: 0.4rem;
  padding-left: 1.8rem;
}

.fa-search{
  position: absolute;
  left: 38px;
  top: 108px;
  color: rgb(95, 93, 93);
}

.product-cards{
  margin-top: 5rem;
  margin-left: 18rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  align-items: center;
}

.products{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 5px 10px #cecbcb;
  border-radius: 0 0 0.5rem 0.5rem;
  margin: 1rem;
  max-width: 250px;
  height: 330px;
}

.product-btn{
  margin-right: 1rem;
  margin-top: 1rem;
  padding: 0.3rem 0.2rem; 
  text-align: center;
  border-radius: 0.3rem;
}

.wishlist-btn{
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
}

.filters{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 14vh;
  border: 1px solid rgb(167, 166, 166);
  box-shadow: 5px 5px 10px #b3b0b0;
  margin: 1rem 1rem 2rem 1rem;
  text-align: start;
  padding-left: 1rem;
}

.filters input{
  margin-right: 0.2rem;
} 

.cart{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart h2{
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-cart{
  display: flex;
  border: 1px solid rgb(124, 122, 122);
  border-radius: 0 0 0.5rem 0.5rem;
  width: 650px;
  height: 252px;
  margin: 1rem;
}

.img-cart{
  height: 250px;
  width: 300px;
  border-radius: 0 0 0rem 0.5rem;
}

.cart-product-details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  text-align: start;
}

.cart-product-details h3{
  font-size: 25px;
}

.cart-quantiy-btn{
  display: inline;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 18px;
}

.cart-quantity{
  text-align: start;
  padding-top: 0.5rem;
}

.cart-remove{
  text-align: start ;
  padding-top: 1rem;
}

.cart-btn-remove{
  color: black;
  background-color: rgb(163, 159, 159) ;
  padding: 8px 10px;
  border: 1px solid #f0d8d8;
  border-radius: 10px;
  cursor: pointer;
}

.page-404{
  overflow: hidden;
}

.img-404{
  width: 100%;
  min-height: 100%;
}

.cart-wishlist-quantity{
  position: absolute;
  right: 1rem;
}

.wishlist-buttons{
  display: flex;
  justify-content: space-evenly;
}

.btn-wishlist-move-remove{
  padding: 4px 10px;
  margin-top: 1rem;
  border: 1px solid rgb(175, 172, 172);
  border-radius: 10px;
  cursor: pointer;
}

.move-to-cart{
  padding: 1rem;
}




